body {
    width: 100%;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(233, 227, 227);
}
header {
    width: 100%;
    z-index: 1;
    width: 100%;
    display: inline;
    margin: 30px;
}
header img {
    width: 23%;
    height: 100%;
}
nav {
    position: relative;
    width: 40%;
    padding-right: 50px;
    float: right;
}
nav ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}
nav ul li {
    float: left;
    text-align: center;
    margin: auto;
}
nav:has(a) a{
    text-decoration: none;
    color: black;
}
h1 {
    margin-top: 20px;
}
div form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
#email_input {
    outline: .5px;
    width: 300px;
    padding: 5px;
    margin: 20px;
}

button {
    background-color: #f1c40f;
    border: none;
    padding: 5px;
    border-radius: 10px;
    padding: 10px;
    width: 30%;
}
button:hover {
    background-color: #d3ab0c;
}
#features {
    width: 70%;
    margin-top: 70px;
    margin-Bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.feature_item {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.icon {
 width: 150px;
 margin-right: 40px;  
}
i {
    color: #df8e16;
    margin-right: 30px; 
}
#how_it_works {
    
    position: relative;
    width: 50%;
}
iframe {
    width: 100%;
}
#pricing {
    width: 80%;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
    margin: 30px;
}
.price_div {
    width: 25%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
    padding: 20px;
}
.price_div h3 {
    background-color: rgb(204, 202, 202);
    width: 100%;
    padding: 10px
}
.price_div p {
    margin: 5px;
}
.price_div button {
    margin: 20px;
    padding: 10px;
    width: 60% 
}
footer {
    width: 80%;
    background-color: rgb(204, 202, 202);
    padding: 5px;
}
footer nav {
    position: relative;
    top: 10px;
    width: 20%
}
footer nav a {
    margin-right: 20px;
}